<!DOCTYPE html>
<html>
<head>
<title>Pages About</title>
</head>
<header>
  <h1>Welcome to my blog About page</h1>
  <image src="<%= image_path('dog_header.jpg') %>" class="center">
    <nav><%=link_to 'Home', root_path %></nav>
</header>

<body>
  <div class="main_content">
    <div class="left">
      <h2>This is the left side About Page</h2>
      <p>This will be the left content. Going to add some more content to this so it can be a little bigger. This is the about page for the Pages controller and the about even I think it's called.</p>
    </div>

    <div class="right">
      <h2>This is the right side About Page</h2>
      <p>This will be the contet for the right side. I will also add some more content to the right side to make it a little bit longer.</p>
    </div>
  </div>

<footer class=clearfix>
  <p>This is the footer</p>
</footer>
</body>

</html>