<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Welcome to Alpha Blog</h1>
      <p>Welcome to the Alpha Blog. Where everything is talked about</p>
      <%= link_to 'Sign up now', signup_path, class: "text-center btn btn-success btn-large btn-xlarge button-center" %>
  </div>
</div>




