$navbar-default-bg: #fae4aa;

@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
.navbar {
	background-color: black !important;
}
.nav-link {
	color: white !important;
}
#home-container {
	margin-top: 25px;
}
html,
body {
	height:100%;
}

#logo:hover {
	color: grey;
	text-decoration: none;
}
.page-content {
	flex: 1 0 auto;
	background-color: #c5d9db;
}
#sticky-footer {
	flex-shrink: none;
}

 .center {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 100%;
 	color: #777;
 }
 .button-center {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 25%;
 }

.jumbotron {
	background-image: asset-url('dog_header.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 395px;
	
}
.jumbotron h1 {
	text-align: center;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 20px;
}

.btn-xlarge {
	font-size: 1.7em;
	background-color: black;
}
.btn:hover {
	background-color: red;
}
