 <div class="container"> 
  <footer class="clearfix footer">
    <p>This is the footer built by <small>Copyright &copy</small></p>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>